.wac-chart {
  width: 100%;
  height: 400px;
}

.domain {
  fill: #fa6900;
}

.bar {
  fill: #c51b7d;
}

.arc {
  stroke: #FFFFFF;
}

.arc-0 {
  fill: #4d9221;
}

.arc-1 {
  fill: #c51b7d;
}

.arc-2 {
  fill: #de77ae;
}

.arc-3 {
  fill: #f1b6da;
}

.arc-4 {
  fill: #fde0ef;
}

.arc-5 {
  fill: #f7f7f7;
}

.arc-6 {
  fill: #e6f5d0;
}

.arc-7 {
  fill: #b8e186;
}

.arc-8 {
  fill: #7fbc41;
}

.arc-9 {
  fill: #276419;
}

.line {
  fill: none;
  stroke: #000000;
}
